<div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-4 img-geolingua">
        <a
            title="Thomas Berscheid: Der Artikel ✔ Krimi ✔ Heinrich Sobeck ✔ Niederrhein"
            href="https://www.berscheid-verlag.de/buecher/krimis/der-artikel"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Der Artikel ✔ Krimi ✔ Heinrich Sobeck ✔ Niederrhein"
                alt="Thomas Berscheid: Der Artikel ✔ Krimi ✔ Heinrich Sobeck ✔ Niederrhein"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Der-Artikel-Heinrich-Sobeck-Krimi-Thomas-Berscheid-353x563.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-8">
        <h4 class="geolingua">Thomas Berscheid: Der Artikel</h4>
        <p>Heinrich Sobeck hat noch zwei Jahre bis zu seinem Abi. Als er einen Räuber auf dem Schulhof in die Flucht tritt, will der Direktor ihn aus dem Gymnasium werfen. Heinrichs letzte Chance: Er soll einen Artikel über Gewalt in der Schule schreiben. Doch da wird der Rechner mit dem Artikel gestohlen.</p>
        <p>Der Artikel - Heinrich Sobecks erster Fall</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Thomas Berscheid: Der Artikel ✔ Krimi ✔ Heinrich Sobeck ✔ Niederrhein"
            href="https://www.berscheid-verlag.de/buecher/krimis/der-artikel"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-book-dead"></i>
            Zum Artikel
        </a>
    </div>
</div>