    <div class="swiper-slide">
        <a
            title="Es sollte ein schöner Ausflug werden ✔ Kriminalgeschichte von Thomas Berscheid"
            href="/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Es sollte ein schöner Ausflug werden ✔ Kriminalgeschichte von Thomas Berscheid"
                alt="Es sollte ein schöner Ausflug werden ✔ Kriminalgeschichte von Thomas Berscheid"
                src="/fileadmin/img/slider/buecher/Es-sollte-ein-schoener-Ausflug-werden-6-366x584-Krimi-Thomas-Berscheid.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

