<div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-4 img-geolingua">
        <a
            title="Lehrbuch Georgisch lernen: Lesetexte - Lehrbuch der georgischen Sprache Grundstufe A1/A2 - georgische Texte mit Übungen"
            href="https://georgisch-lernen.de/lehrbuch-georgisch-lernen-lesetexte/"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Lehrbuch Georgisch lernen - Lesetexte - Lehrbuch der georgischen Sprache - Grundstufe A1/A2 - georgische Texte mit Übungen"
                alt="Lehrbuch Georgisch lernen – Lesetexte - Lehrbuch der georgischen Sprache - Grundstufe A1/A2 - georgische Texte mit Übungen"
                src="/fileadmin/img/Boxes/georgisch-lernen-lehrbuch-lesetexte-lesen-schreiben-01-353x563.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-8">
        <h4 class="geolingua">Lehrbuch Georgisch Lernen - Lesetexte</h4>
        <p>Möchten Sie die georgische Sprache lernen? Haben Sie die Grundstufe bereits hinter sich? Dann können Sie einfache Texte in georgischer Sprache lesen. In diesem Fall wäre das Lehrbuch «Georgisch lernen – Lesetexte» genau das Richtige für Sie!</p>
        <p>Weitere Informationen finden Sie bei Geolingua - Georgisch Lernen</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Lehrbuch Georgisch lernen – Lesetexte • Lehrbuch der georgischen Sprache Grundstufe A1/A2 - georgische Texte mit Übungen"
            href="https://georgisch-lernen.de/lehrbuch-georgisch-lernen-lesetexte/"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-book-open"></i>
            Georgisch Lernen
        </a>
    </div>
</div>