<div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-4 img-geolingua">
        <a
            title="Materialien zum Erlernen der georgischen Sprache ✔ Grammatik ✔ Übungsheft ✔ Irma Berscheid-Kimeridze"
            href="https://www.berscheid-verlag.de/buecher/georgisch-lernen/materialien-zum-erlernen-der-georgischen-sprache"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Materialien zum Erlernen der georgischen Sprache ✔ Grammatik ✔ Übungsheft ✔ Irma Berscheid-Kimeridze"
                alt="Materialien zum Erlernen der georgischen Sprache ✔ Grammatik ✔ Übungsheft ✔ Irma Berscheid-Kimeridze"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Uebungsheft-Grammatik-Georgisch-Lernen-353x563.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-8">
        <h4 class="geolingua">Materialien georgische Sprache: Übungsheft Grammatik</h4>
        <p>Georgisch lernen leicht gemacht: Die besten Materialien für Anfänger und Fortgeschrittene. Lernen Sie die georgische Gammatik</p>
        <p>Entdecken Sie Materialien zum Erlernen der georgischen Sprache - Übungshefte: Verbe, Wortschatz, Adjektive trainieren und vieles mehr.</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Materialien zum Erlernen der georgischen Sprache ✔ Grammatik ✔ Übungsheft ✔ Irma Berscheid-Kimeridze"
            href="https://www.berscheid-verlag.de/buecher/georgisch-lernen/materialien-zum-erlernen-der-georgischen-sprache"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-book-open"></i>
            Georgisch Lernen
        </a>
    </div>
</div>