    <div class="swiper-slide">
        <a
            title="Lehrbuch Georgisch - Lesen und Schreiben lernen ✔ PDF bestellen"
            href="https://www.agentur-ibk.de/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Lehrbuch Georgisch - Lesen und Schreiben lernen ✔ PDF bestellen"
                alt="Lehrbuch Georgisch - Lesen und Schreiben lernen ✔ PDF bestellen"
                src="https://www.agentur-ibk.de/fileadmin/img/slider/buecher/georgisch-lesen-schreiben-lernen-366x584.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

