    <div class="swiper-slide">
        <a
            title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
            href="https://www.berscheid-verlag.de/buecher/krimis/nierstaler-mordbote"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
                alt="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Nierstaler-Mordbote-Krimi-Niederrhein-Thomas-Berscheid-366x584.jpg"
                loading="lazy"
                width="353"
                height="353">
        </a>
    </div>
