    <div class="swiper-slide">
        <a
            title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
            href="https://www.agentur-ibk.de/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
                alt="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
                src="https://www.agentur-ibk.de/fileadmin/img/slider/buecher/Nierstaler-Mordbote-Krimi-Niederrhein-Thomas-Berscheid-366x584.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>
