    <div class="swiper-slide">
        <a
            title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
            href="https://www.berscheid-verlag.de/buecher/krimis/pilze-kriminalgeschichten-von-thomas-berscheid"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
                alt="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Buchcover_Pilze_Kriminalgeschichten_Thomas_Berscheid-353x563.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>

