    <div class="swiper-slide">
        <a
            title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
            href="/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
                alt="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
                src="/fileadmin/img/slider/buecher/Der-Kopf-des-Professors-Roman-Krimi-Thomas-Berscheid-1-366x584.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>
