    <div class="swiper-slide">
        <a
            title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
            href="https://www.berscheid-verlag.de/buecher/krimis/der-kopf-des-professors"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
                alt="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Der-Kopf-des-Professors-Roman-Krimi-Thomas-Berscheid-353x563.jpg"
                loading="lazy"
                width="353"
                height="353">
        </a>
    </div>
