    <div class="swiper-slide">
        <a
            title="Schweigen ist nicht Gold ✔ Roman von Thomas Berscheid ✔ Ebook"
            href="/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Schweigen ist nicht Gold ✔ Roman von Thomas Berscheid ✔ Ebook"
                alt="Schweigen ist nicht Gold ✔ Roman von Thomas Berscheid ✔ Ebook"
                src="/fileadmin/img/slider/buecher/Schweigen-ist-nicht-Gold-63-366x584-Roman-Thomas-Berscheid.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

