
<f:comment>
<div class="row">
    <div class="col-12 slider-titel">
        Bücher aus dem Berscheid Verlag
    </div>
</div>
</f:comment>

<div class="row">
    <div class="col-12">
        <div class="swiper">
            <div class="swiper-wrapper">
                <f:render partial="Slider/Wurzeln" />
                <f:render partial="Slider/Schweigen" />
                <f:render partial="Slider/Lesetexte" />
                <f:render partial="Slider/Joekull" />
                <f:render partial="Slider/Professor" />
                <f:render partial="Slider/Mordbote" />
                <f:render partial="Slider/Veenweg" />
                <f:render partial="Slider/Ausflug" />

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a
                class="button button-verlag"
                title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
                href="https://www.agentur-ibk.de/ebooks/alle-ebooks"
                rel="noopener noreferrer">
            Berscheid Verlag: Alle Bücher
        </a>
    </div>
</div>

<f:comment>
<div id="carouselBoxes" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active carousel-item-verlag" data-bs-interval="4000">
            <div class="row">
                <f:render partial="Slider/Mordbote" />
                <f:render partial="Slider/Pilze" />
                <f:render partial="Slider/Professor" />
                <f:render partial="Slider/Professor" />
            </div>
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <div class="row">
                <f:render partial="Slider/Pilze" />
                <f:render partial="Slider/Mordbote" />
                <f:render partial="Slider/Professor" />
                <f:render partial="Slider/Professor" />
            </div>
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <div class="row">
                <f:render partial="Slider/Professor" />
                <f:render partial="Slider/Pilze" />
                <f:render partial="Slider/Mordbote" />
                <f:render partial="Slider/Professor" />
            </div>
        </div>


        <f:comment>
            <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
                <f:render partial="Boxes/Egon" />
            </div>

            <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
                <f:render partial="Boxes/Artikel" />
            </div>

            <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
                <f:render partial="Boxes/Pilze" />
            </div>

            <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
                <f:render partial="Boxes/Geolingua" />
            </div>
        </f:comment>
    </div>

    <f:comment>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    </f:comment>

    <div class="row">
        <div class="col-12">
            <a
                    class="button button-geolingua blog-page-button"
                    title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
                    href="https://www.berscheid-verlag.de/buecher/krimis/pilze-kriminalgeschichten-von-thomas-berscheid"
                    target="_blank"
                    rel="noopener noreferrer">
                <i class="fas fa-book-dead"></i>
                Alle Bücher
            </a>
        </div>
    </div>

</div>
</f:comment>