    <div class="swiper-slide">
        <a
            title="Sprachführer Reise Georgien ✔ Essen ✔ Einkaufen ✔ georgisch"
            href="https://www.agentur-ibk.de/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Sprachführer Reise Georgien ✔ Essen ✔ Einkaufen ✔ georgisch"
                alt="Sprachführer Reise Georgien ✔ Essen ✔ Einkaufen ✔ georgisch"
                src="https://www.agentur-ibk.de/fileadmin/img/slider/buecher/georgisch-kleiner-sprachfuehrer-fuer-die-reise-366x584.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

