    <div class="swiper-slide">
        <a
            title="Georgisch lernen ✔ Übungsheft Verben trainieren ✔ Grammatik"
            href="https://www.agentur-ibk.de/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Georgisch lernen ✔ Übungsheft Verben trainieren ✔ Grammatik"
                alt="Georgisch lernen ✔ Übungsheft Verben trainieren ✔ Grammatik"
                src="https://www.agentur-ibk.de/fileadmin/img/slider/buecher/georgisch-uebungsheft-verben-trainieren-366x584-irma-berscheid-kimeridze.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

