    <div class="swiper-slide">
        <a
            title="Materialien zum Erlernen der georgischen Sprache: Übungsheft"
            href="/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Materialien zum Erlernen der georgischen Sprache: Übungsheft"
                alt="Materialien zum Erlernen der georgischen Sprache: Übungsheft"
                src="/fileadmin/img/slider/buecher/Uebungsheft-Grammatik-Georgisch-Lernen-366x584.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

