    <div class="swiper-slide">
        <a
            title="Veenweg ✔ Kurzgeschichte ✔ Fantasy ✔ Niederrhein ✔ Science Fiction"
            href="/ebooks/alle-ebooks"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Veenweg ✔ Kurzgeschichte ✔ Fantasy ✔ Niederrhein ✔ Science Fiction"
                alt="Veenweg ✔ Kurzgeschichte ✔ Fantasy ✔ Niederrhein ✔ Science Fiction"
                src="/fileadmin/img/slider/buecher/Veenweg-Niederrhein-1-366x584-Fantasy-Kurzgeschichte-Thomas-Berscheid.webp"
                loading="lazy"
                width="366"
                height="584">
        </a>
    </div>

