
<f:asset.css
        identifier="ibk_fontawesome"
        href="EXT:ibkagentur/Resources/Public/lib/fontawesome-5.14.0/css/all.min.css"
        rel="stylesheet"
        media="all"
        useNonce="true">
</f:asset.css>

<f:asset.css
        identifier="ibk_css"
        href="EXT:ibkagentur/Resources/Public/css/ibkstyles.min.css"
        rel="stylesheet"
        media="all"
        useNonce="true">
</f:asset.css>

<f:if condition="{uid} == 44">
    <f:asset.css
            identifier="ibk_css_search"
            href="EXT:ibkagentur/Resources/Public/css/ke_search_agentur.css"
            rel="stylesheet"
            media="all"
            useNonce="true">
    </f:asset.css>
</f:if>

<f:asset.css
        identifier="ibk_preload_gudea"
        href="EXT:ibkagentur/Resources/Public/css/fonts/gudea-v10-latin-regular.woff2"
        rel="prefetch"
        as="font"
        media="all"
        crossorigin="anonymous"
        useNonce="true">
</f:asset.css>

<f:asset.css
        identifier="ibk_preload_montserrat"
        href="EXT:ibkagentur/Resources/Public/css/fonts/montserrat-v14-latin-regular.woff2"
        rel="prefetch"
        as="font"
        media="all"
        crossorigin="anonymous"
        useNonce="true">
</f:asset.css>

<f:asset.css
        identifier="ibk_preload_fa_regular"
        href="EXT:ibkagentur/Resources/Public/lib/fontawesome-5.14.0/webfonts/fa-regular-400.woff2"
        rel="prefetch"
        as="font"
        media="all"
        crossorigin="anonymous"
        useNonce="true">
</f:asset.css>

<f:asset.css
        identifier="ibk_preload_fa_brands"
        href="EXT:ibkagentur/Resources/Public/lib/fontawesome-5.14.0/webfonts/fa-brands-400.woff2"
        rel="prefetch"
        as="font"
        media="all"
        crossorigin="anonymous"
        useNonce="true">
</f:asset.css>

<f:asset.css
        identifier="ibk_preload_fa_solid"
        href="EXT:ibkagentur/Resources/Public/lib/fontawesome-5.14.0/webfonts/fa-solid-900.woff2"
        rel="prefetch"
        as="font"
        media="all"
        crossorigin="anonymous"
        useNonce="true">
</f:asset.css>

<f:asset.script
        identifier="ibk_js"
        src="EXT:ibkagentur/Resources/Public/js/ibkjs.js"
        defer="true"
        useNonce="true">
</f:asset.script>


