

<div class="row">
    <div class="col-12 col-sm-12">

        <f:for each="{bottomMenu}" as="bottomMenuItem" iteration="bottomIteration">
            <f:link.page pageUid="{bottomMenuItem.data.uid}" title="{bottomMenuItem.data.seo_title}" class="bread_link_small">{bottomMenuItem.data.title}</f:link.page><wbr>
        </f:for>

    </div>
</div>
  
<f:comment>
    <div class="row">
        <div class="col-12 col-sm-6">

            <f:for each="{bottomMenu}" as="bottomMenuItem" iteration="bottomIteration">
                <f:link.page pageUid="{bottomMenuItem.data.uid}" title="{bottomMenuItem.data.seo_title}" class="bread_link_small">{bottomMenuItem.data.title}</f:link.page><wbr>
            </f:for>

        </div>
        <div class="col-12 col-sm-6">
            <span><a href="#" title="Cookie Einstellungen ändern" data-omcookie-panel-show><i class="fas fa-cookie"></i></a></span>
            <span><a href="#" title="Zum Seitenanfang"><i class="fas fa-arrow-circle-up"></i></a></span>

        </div>

    </div>
</f:comment>
