
<div class="row navigation-breadcrumb">
    <div class="col-md-12 col-sm-12">

        <span itemscope itemtype="https://schema.org/BreadcrumbList">
            
            LINK: {bloglink}
              
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" class="bread_link_small" title="Start" href="/">
                    <span itemprop="name">Start</span>
                </a>
                <meta itemprop="position" content="1" />
            </span>
          
            &raquo;
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" class="bread_link_small" title="Blog" href="/blog">
                    <span itemprop="name">Blog</span>
                </a>
                <meta itemprop="position" content="2" />
            </span>

              &raquo;
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" class="bread_link_small" title="Blog" href="/blog/{bloglink}">
                    <span itemprop="name">Beitrag</span>
                </a>
                <meta itemprop="position" content="3" />
            </span>
          
      </span>
    </div>
</div>
