<div class="row">
  <div class="col-12 col-md-12">
    <f:link.external rel="noopener noreferrer" uri="https://www.facebook.com/Agentur-IBK-100221811664437/" title="Agentur IBK bei Facebook" class="fab fa-facebook-square" target="_blank"></f:link.external>
    <f:link.external rel="noopener noreferrer" uri="https://www.xing.com/profile/Thomas_Berscheid3/" title="Thomas Berscheid bei XING" class="fab fa-xing-square" target="_blank"></f:link.external>
    <f:link.external rel="noopener noreferrer" uri="https://www.linkedin.com/in/thomas-berscheid-koeln/" title="Thomas Berscheid bei LinkedIn" class="fab fa-linkedin" target="_blank"></f:link.external>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <strong>In dieser Seite</strong>
    
    <f:for each="{footerMenu}" as="footerMenuItem">
      <br /><f:link.page pageUid="{footerMenuItem.data.uid}" title="{footerMenuItem.title}" class="bread_link_small">{footerMenuItem.data.title}</f:link.page>
    </f:for>
  
  </div>
  <div class="col-12 col-md-4">
    <strong>Webseiten TYPO3</strong>
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.agentur-ibk.de/" target="_blank" title="Agentur für TYPO3 und Wordpress Köln ✔ SEO ✔ Tutorial"><i class="fab fa-typo3"></i> Agentur IBK</a> 
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.georgienseite.de/" target="_blank" title="Die Georgienseite: Informationen über Georgien - Land und Leute, Reisen, Reiseberichte von Thomas Berscheid. Essen und Trinken, georgische Rezepte und georgischer Wein - Powered by TYPO3"><i class="fab fa-typo3"></i> Die Georgienseite</a> 
  </div>
  <div class="col-12 col-md-4">
    <strong>Webseiten Wordpress und PHP</strong>
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.georgisch.com" target="_blank" title="Georgisch Dolmetschen und georgisch Übersetzen: Übersetzerin und Dolmetscherin für die georgische Sprache in Köln und NRW: Irma Berscheid-Kimeridze - Powered by WordPress"><i class="fab fa-wordpress"></i> Georgisch.Com</a>     
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://georgisch-lernen.de/" target="_blank" title="GeoLingua - Georgisch lernen • georgische Sprache • Schrift • Georgien • Georgisch-Kurs • Literatur • Alphabet - Powered by WordPress"><i class="fab fa-wordpress"></i> Georgisch Lernen</a>         
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://wiki.agentur-ibk.de/doku.php" target="_blank" title="Sourcen, Quellcode und Code Snippets zu TYPO3. Responsive Webseiten mit Bootstrap. TypoScript, CSS, HTML, jQuery und JavaScript von Thomas Berscheid"><i class="fab fa-wikipedia-w"></i> Wiki der Agentur</a>     
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.georgien.net/" target="_blank" title="Georgien.net: Tourismus in Georgien ✔ Tbilissi ✔ georgische Küche ✔ Kultur"><i class="fab fa-wordpress"></i> Tourismus in Georgien</a>     
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.geoweinland.de/" target="_blank" title="Weinland Georgien: Informationen und Nachrichten zu georgischem Wein"><i class="fab fa-wordpress"></i> Weinland Georgien</a>     
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.geokulinarium.de/" target="_blank" title="GeoKulinarium: georgische Küche und Rezepte aus Georgien"><i class="fab fa-wordpress"></i> GeoKulinarium</a>     
    <br /><a class="bread_link_small" rel="noopener noreferrer" href="https://www.thomweb.de" target="_blank" title="Thomas Berscheid: Krimis und Romane des Schriftstellers"><i class="fab fa-wordpress"></i> Thomweb.de</a> 
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-3">
    <img src="/typo3conf/ext/ibkagentur/Resources/Public/Icons/TYPO3-Association-Bronze-Member-200x100.jpg"
         title="Agentur IBK ist Bronze Mitglied der TYPO3 Association"
         alt="Agentur IBK ist Bronze Mitglied der TYPO3 Association"
         loading="lazy"
         width="100"
         height="50">
  </div>

  <div class="col-12 col-md-3">
    <a rel="noopener noreferrer" href="https://www.freelancermap.de/freelancer-verzeichnis/profile/entwicklung/128166-profil-thomas-berscheid-webentwickler.html" target="_blank" title="Profil von Thomas Berscheid auf www.freelancermap.de">
      <img src="/typo3conf/ext/ibkagentur/Resources/Public/Icons/findenSieMich.png"
           title="Profil von Thomas Berscheid auf www.freelancermap.de"
           alt="Profil von Thomas Berscheid auf www.freelancermap.de"
           loading="lazy"
           width="160"
           height="33">
    </a>
  </div>
  <div class="col-12 col-md-3">
    <a rel="noopener noreferrer" href="https://www.gulp.de/gulp2/home/profil/ThomasBerscheid" title="Thomas Berscheid: Freelancer TYPO3, Wordpress und SEO" target="_blank">
      <img src="/typo3conf/ext/ibkagentur/Resources/Public/Icons/gulp_bl_160x30px_fmb_rot.jpg"
           title="Thomas Berscheid bei GULP - Freelancer für TYPO3 und Wordpress. SEO für TYPO3"
           alt="Thomas Berscheid bei GULP - Freelancer für TYPO3 und Wordpress. SEO für TYPO3"
           loading="lazy"
           width="160"
           height="30" />
    </a>
  </div>
  <div class="col-12 col-md-3">
    <a rel="noopener noreferrer" href="https://dasauge.de/-agentur-ibk/" target="_blank">
      <img src="/typo3conf/ext/ibkagentur/Resources/Public/Icons/dasauge_de_btn_profil.webp"
           title="Internetagentur Irma Berscheid-Kimeridze bei dasauge - Webseiten mit TYPO3 und Wordpress. SEO für TYPO3"
           alt="Internetagentur Irma Berscheid-Kimeridze bei dasauge - Webseiten mit TYPO3 und Wordpress. SEO für TYPO3"
           loading="lazy"
           width="85"
           height="23" /></a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Internetagentur Irma Berscheid-Kimeridze Köln</h4>

    <p><f:cObject typoscriptObjectPath="lib.copyright" /><br />Diese Webseite läuft mit dem <span itemprop="applicationCategory">Content Management System</span> <span itemprop="operatingSystem">TYPO3</span> in der LTS <span itemprop="softwareVersion">12.4</span></p>

    <p><small>Webseiten mit TYPO3 und Wordpress. TYPO3 Lernen mit dem TYPO3 Tutorial von Thomas Berscheid. Schulungen für TYPO3. Responsive Webseiten mit Bootstrap. TYPO3 Extensions mit TypoScript, Extbase und Fluid. Webdesign mit HTML, CSS und jQuery. Objektorientierte Programmierung mit PHP und mySQL. SEO und Google Analytics.</small></p>

  </div>
</div>