
<f:render partial="Assets" arguments="{uid: data.uid}" />

<div class="container-fluid">

  <!-- Header Anfang -->
  <header id="header">  

    <f:render partial="Banner" arguments="{uid: data.uid, description: data.description, bannerMenu: bannerMenu}" />

    <!-- Suche Anfang -->
    <f:if condition="{0:data.uid} != {0:'44'}">
      <div class="ke-search-top">
        <f:render section="search" />
      </div>
    </f:if>
    <!-- Suche Ende -->

      <f:render partial="Navigation-Megamenu5-listing" arguments="{headerMenu: headerMenu}" />

    <f:if condition="{0:data.uid} != {0:'2'}">
      <f:render partial="Breadcrumb" arguments="{breadMenu: breadMenu, blogPostTitle: blogPostTitle}" />
    </f:if>

  </header>  
  <!-- Header Ende -->
</div>

<div itemscope itemtype="https://schema.org/Article" class="container-fluid">
  <!-- Inhalt Anfang -->
  <main id="main">
    <f:render section="content" />
    <div class="hidden" itemprop="name">
      <span class="hidden" itemprop="headline">{page_title}</span>
      <span class="hidden" itemprop="name">{page_title}</span>
    </div>
  </main>
  <!-- Inhalt Ende -->
</div>

<div class="container-fluid">
  <!-- Georgisches Lehrbuch Anfang -->
  <aside id="aside-tutorial">
    <f:render section="boxes" />
  </aside>
<!-- Georgisches Lehrbuch Ende -->
</div>

<div class="container-fluid">
  <!-- Blog Anfang -->
  <f:if condition="{0:data.uid} != {0:'75'}">
    <aside id="aside-blogbottom">
      <f:render section="bloggrid" />
    </aside>
  </f:if>
  <!-- Blog Ende -->
</div>

<div class="container-fluid">
  <footer id="footer">
    <f:render partial="Footer" arguments="{footerMenu: footerMenu}" />  
  </footer>

  <nav id="bottom">
    <f:render partial="Bottom" arguments="{bottomMenu: bottomMenu}" />  
  </nav>

</div>

<div id="reiter">
  <f:render partial="Reiter" />
</div>

<div id="navtotop">
  <span><a href="#" title="Zum Seitenanfang"><i class="fas fa-arrow-circle-up"></i></a></span>
</div>