
<div id="carouselBoxes" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Professor" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Egon" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Artikel" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Pilze" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Geolingua" />
        </div>
    </div>

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

</div>
