
<div id="carouselBoxes" class="carousel slide" data-bs-ride="carousel">
    <f:comment>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBoxes" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    </f:comment>

    <div class="carousel-inner">
        <div class="carousel-item active carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Pilze" arguments="{page_buecher_uid:page_buecher_uid}" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Pilze" arguments="{page_buecher_uid:page_buecher_uid}" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Pilze" arguments="{page_buecher_uid:page_buecher_uid}" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Pilze" arguments="{page_buecher_uid:page_buecher_uid}" />
        </div>

        <div class="carousel-item carousel-item-verlag" data-bs-interval="4000">
            <f:render partial="Boxes/Geolingua" />
        </div>
    </div>
</div>
