<div class="row">
    <div class="col-12 col-xs-6 col-sm-4 col-md-3 img-geolingua">
        <a
            title="Lehrbuch Georgisch lernen: Lesetexte - Lehrbuch der georgischen Sprache Grundstufe A1/A2 - georgische Texte mit Übungen"
            href="https://georgisch-lernen.de/lehrbuch-georgisch-lernen-lesetexte/"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Lehrbuch Georgisch lernen - Lesetexte - Lehrbuch der georgischen Sprache - Grundstufe A1/A2 - georgische Texte mit Übungen"
                alt="Lehrbuch Georgisch lernen – Lesetexte - Lehrbuch der georgischen Sprache - Grundstufe A1/A2 - georgische Texte mit Übungen"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/georgisch-lernen-lehrbuch-lesetexte-lesen-schreiben-01-188x292.jpg"
                loading="lazy"
                width="188"
                height="292">
        </a>    </div>
    <div class="col-12 col-xs-6 col-sm-8 col-md-9">
        <h4 class="geolingua">Lehrbuch Georgisch Lernen - Lesetexte</h4>
        <p>Möchten Sie die georgische Sprache lernen? Haben Sie die Grundstufe bereits hinter sich? Dann können Sie einfache Texte in georgischer Sprache lesen. In diesem Fall wäre das Lehrbuch «Georgisch lernen – Lesetexte» genau das Richtige für Sie!</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Lehrbuch Georgisch lernen – Lesetexte • Lehrbuch der georgischen Sprache Grundstufe A1/A2 - georgische Texte mit Übungen"
            href="https://georgisch-lernen.de/lehrbuch-georgisch-lernen-lesetexte/"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-book-open"></i>
            Georgisch Lernen
        </a>
    </div>
</div>