<div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-4 img-geolingua">
        <a
            title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
            href="https://www.berscheid-verlag.de/buecher/krimis/nierstaler-mordbote"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
                alt="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Nierstaler-Mordbote-Krimi-Niederrhein-Thomas-Berscheid-366x584.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-8">
        <h4 class="geolingua">Nierstaler Mordbote</h4>
        <p>Bauer Joseph Jansen hat ausgesorgt: Auf seinem Land soll ein Neubaugebiet entstehen. Er feiert seinen Deal. Aber er kommt nicht mehr nach Hause. Kommissar Hoppe kniet am Morgen danach über Jansens steif gefrorener Leiche.</p>
        <p>Nierstaler Mordbote: Ein eiskalter Kriminalroman am Niederrhein.</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Thomas Berscheid: Nierstaler Mordbote ✔ Kriminalroman ✔ Krimi am Niederrhein"
            href="https://www.berscheid-verlag.de/buecher/krimis/nierstaler-mordbote"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-snowflake"></i>
            Zum Mordboten
        </a>
    </div>
</div>