<div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-4 img-geolingua">
        <a
            title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
            href="https://www.berscheid-verlag.de/buecher/krimis/pilze-kriminalgeschichten-von-thomas-berscheid"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
                alt="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
                src="/fileadmin/img/Boxes/Buchcover_Pilze_Kriminalgeschichten_Thomas_Berscheid-353x563.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-8">
        <h4 class="geolingua">Thomas Berscheid: Pilze</h4>
        <p>Herbst am Niederrhein. Ein Mann sammelt Pilze im Wald bei der Blauen Lagune. Er findet eine Leiche mit einem Amulett. Der Mann kennt diese Tote. Bald schmiedet er einen mörderischen Plan... </p>
        <p>Pilze. Ein Werwolf in Grefrath. Ein Erpresser an der Villa des Horizontalen Gewerbes. Diese und weitere Kriminalgeschichten von Thomas Berscheid.</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Thomas Berscheid: Pilze ✔ Kriminalgeschichten vom Niederrhein ✔ Berscheid Verlag"
            href="https://www.berscheid-verlag.de/buecher/krimis/pilze-kriminalgeschichten-von-thomas-berscheid"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-book-dead"></i>
            Zu den Pilzen
        </a>
    </div>
</div>