<div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-4 img-geolingua">
        <a
            title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
            href="https://www.berscheid-verlag.de/buecher/krimis/der-kopf-des-professors"
            target="_blank"
            rel="noopener noreferrer">
            <img
                class="image-embed-item"
                title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
                alt="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
                src="https://www.agentur-ibk.de/fileadmin/img/Boxes/Der-Kopf-des-Professors-Roman-Krimi-Thomas-Berscheid-353x563.jpg"
                loading="lazy"
                width="353"
                height="563">
        </a>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-8">
        <h4 class="geolingua">Der Kopf des Professors</h4>
        <p>An der Kölner Universität gehen erst Videos und Bücher verloren. Dann stirbt ein Professor unter Umständen, die einen Pathologen an Zauberei glauben lassen. Eine Mordkommission ermittelt. Doch bald findet sich auch Kommissar Wepper auf dem Krankenbett wieder.</p>
        <p>Der Royale Investigator Marc Koster kommt einem neuen Professor auf die Schliche.</p>
        <a
            class="button button-geolingua blog-page-button"
            title="Thomas Berscheid: Der Kopf des Professors ✔ Krimi und Fantasy ✔ Köln"
            href="https://www.berscheid-verlag.de/buecher/krimis/der-kopf-des-professors"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-skull-crossbones"></i>
            Zum Professor
        </a>
    </div>
</div>