/* Bild als Hintergrund */

@media(min-width:801px) {
    body {
        background: url(https://www.agentur-ibk.de/fileadmin/img/background/SEO-Suchmaschinenoptimierung-TYPO3-IMG_1020-1920x1200-Agentur-IBK-Koeln-sw.jpg); 
        background-repeat: no-repeat;
        background-attachment: fixed;	
        background-size: cover;  
        background-position: center;
    }
}