/* Bild als Hintergrund */

@media(min-width:801px) {
    body {
        background: url(https://www.agentur-ibk.de/fileadmin/img/background/TYPO3-Agentur-Koeln-TypoScript-Bootstrap-CSS-Frontend-DSC01202-1920x1200-PHP-HTML.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;	
        background-size: cover;  
        background-position: center;
    }
}