// CSS Werbung Berscheid Verlag

#aside-tutorial {
    border: none;

    #carouselBoxes {
      border-right: 5px;
    }

    @media (max-width: 575px) {

      h4 {
        padding-top: 1rem;
      }
    }
    @media (min-width: 576px) {

      h4 {
        padding-top: 0;
      }

    }

    .carousel-inner {
      border-radius: 5px;

      .carousel-item {
        padding: 15px;

        &.carousel-item-verlag {
          background-color: #e0e0e0;
          background-image: url("/typo3conf/ext/ibkagentur/Resources/Public/Icons/Slider/Logo-Berscheid-Verlag-700x700-50-sw.webp");
          background-repeat: no-repeat;
          background-size: contain;

          @media (max-width: 575px) {
            background-position-x: center;
            background-position-y: bottom;
          }

          @media (min-width: 576px) {
            background-position-x: right;
            background-position-y: center;
          }
        }
      }
    }

    .carousel-indicators {
      justify-content: flex-end;
      margin-right: 15px;
      margin-bottom: 15px;

      button {
        background-color: $blau-leicht;
        height: 16px;
        width: 16px;
        border: 1px $blau-leicht solid;
        border-radius: 5px;
        margin-left: 8px;
        opacity: 1;

        &.active {
          background-color: $blau-stark;
          border: 1px $blau-stark solid;
          opacity: 1;
        }
      }
      @media (max-width: 575px) {
        display: none;
      }

      @media (min-width: 576px) {
        display: flex;
      }

    }
  }
