// CSS Werbung Berscheid Verlag 2024 (3 Bilder nebeneinander)

#aside-buecher {
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;

  .button {
    &.button-verlag {
      display: flow;
      margin-top: 5px;
      margin-right: 0;
      text-align: center;
    }
  }
}