// CSS Werbung Tutorial

#aside-tutorial {
    //background-color: #ddd;
    border: none;
    //padding-top: 15px;

    @media (max-width: 575px) {
      //padding-bottom: 45px;

      h4 {
        padding-top: 1rem;
      }
      //.carousel-indicators {
      //  margin-bottom: 0;
      //  bottom: -40px;
      //}
    }
    @media (min-width: 576px) {
      //padding-bottom: 15px;

      h4 {
        padding-top: 0;
      }
      .carousel-indicators {
        //padding-bottom: 15px;

      }

    }

    .carousel-inner {
      //padding: 15px;
      //margin-top: -15px;
      //margin-bottom: -15px;

      .carousel-item {
        padding: 15px;
        //margin-top: -15px;
        //margin-bottom: -15px;

        &.carousel-item-verlag {
          background-color: #e0e0e0;
          background-image: url("/typo3conf/ext/ibkagentur/Resources/Public/Icons/Slider/Logo-Berscheid-Verlag-700x700-50-sw.webp");
          background-repeat: no-repeat;
          background-size: contain;

          @media (max-width: 575px) {
            background-position-x: center;
            background-position-y: bottom;
          }

          @media (min-width: 576px) {
            background-position-x: right;
            background-position-y: center;
          }

          //background-position-x: right;
          //background-position-y: center;
        }

        //background-color: #ccc;
        //&.carousel-item-pilze {
        //  background-color: #e8ddd2;
        //}
        //&.carousel-item-georgisch {
        //  background-color: #cbf4f2;
        //}
      }
    }

    //.carousel-indicators {
    //  button {
    //    background-color: $blau-leicht;
    //    height: 8px;
    //    opacity: 1;
    //
    //    &.active {
    //      background-color: $blau-stark;
    //      opacity: 1;
    //    }
    //  }
    //}
  }
