// montserrat-regular - latin
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/montserrat-v14-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
       url('fonts/montserrat-v14-latin-regular.woff') format('woff'),
       url('fonts/montserrat-v14-latin-regular.ttf') format('truetype'),
       url('fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg');
}

// gudea-regular - latin
@font-face {
  font-family: Gudea;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/gudea-v10-latin-regular.eot');
  src: local(''),
       url('fonts/gudea-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/gudea-v10-latin-regular.woff2') format('woff2'),
       url('fonts/gudea-v10-latin-regular.woff') format('woff'),
       url('fonts/gudea-v10-latin-regular.ttf') format('truetype'),
       url('fonts/gudea-v10-latin-regular.svg#Gudea') format('svg');
}