
<!-- ###RSSIMPORT_TEMPLATE### begin -->

<!-- ###ITEM### -->

<div class="row">
    <div class="col-12 col-md-12">
        <h3>###HEADER###</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12">
        <i class="far fa-clock"></i> ###RSS_DATE###
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12">
        ###SUMMARY###
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12">
        <a class="button blog-button" href="###HEADER_URL###" target="###HEADER_TARGET###" title="###HEADER###"><i class="fab fa-wordpress-simple"></i> Zum Beitrag</a>
    </div>
</div>

<!-- ###ITEM### -->

<div class="row">
    <div class="col-12 col-md-12">
        <br /><a class="button blog-button" href="###URL###" target="###TARGET###" title="Zum Blog: ###RSS_TITLE###">Zum Blog: ###RSS_TITLE###</a>
    </div>
</div>

<!-- ###RSSIMPORT_TEMPLATE### end -->
